<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ArgoServerQuery.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <ArgoServerQuery.Properties.Settings>
      <setting name="rconPW" serializeAs="String">
        <value />
      </setting>
      <setting name="ts3Addr" serializeAs="String">
        <value />
      </setting>
      <setting name="ts3SQUser" serializeAs="String">
        <value />
      </setting>
      <setting name="ts3SQPW" serializeAs="String">
        <value />
      </setting>
      <setting name="ts3SQPort" serializeAs="String">
        <value>20011</value>
      </setting>
      <setting name="key" serializeAs="String">
        <value />
      </setting>
      <setting name="IV" serializeAs="String">
        <value />
      </setting>
      <setting name="keyTS" serializeAs="String">
        <value />
      </setting>
      <setting name="IVTS" serializeAs="String">
        <value />
      </setting>
      <setting name="disableScore" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="region" serializeAs="String">
        <value />
      </setting>
      <setting name="firstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="lastLoadedList" serializeAs="String">
        <value />
      </setting>
    </ArgoServerQuery.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>